[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest --durations=5 --cov-report term-missing --cov=src"
lint = "pysen run lint"
format = "pysen run format"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pysen = {version = "==0.9.1", extras = ["lint"]}
pytest-randomly = "*"

[requires]
python_version = "3.9"
